<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.balanceyw.mapper.UserAccountRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.business.balanceyw.entity.UserAccountRecordEntity">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId" />
        <result column="MONEY" property="money" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

</mapper>
